.toolbar{
    position:fixed;
    width: 100%;
    background-image:linear-gradient(#4b0936,#6c2a52);
    top: 0;
    left: 0;
    height:56px;
    font-family: monospace;
}

.toolbar-navigation{
    display:flex;
    align-items: center;
    height:100%;
    padding:0 1rem;
}
.logo 
{
    color:white;
    
    font-size:1.5rem;
}
.Appname{
    color:white;
    text-decoration: none;
    font-size:1.5rem;

}

.btn-signIn{
    padding:10px;
    background-color:rgb(208, 211, 212);
    color:black;
    border:2px solid grey;
    font-size:15px;
    font-weight: 700;
}



.spacer
{
    flex:1;
}